.footer{
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #fff;
    .footer_top{
        padding-top: 100px;
        padding-bottom: 110px;
        @media #{$mobile_device} {
            padding-top: 60px;
            padding-bottom: 30px;
        }
    }
    .copy-right_text{
        padding-bottom: 30px;
        .footer_border{
            border-top: 1px solid #E8E8E8;
            padding-bottom: 30px;
        }
        .copy_right{
            font-size: 15px;
            color: #596672;
            margin-bottom: 0;
            font-weight: 500;
            @media #{$mobile_device} {
                font-size: 13px;
            }
            a{
                color: #FF3414;
            }
        }
    }
}
