.gototop{
   width:50px;
  height:50px;
  line-height:50px;
  position:fixed;
  bottom:20px;
  right:50px;
  border-radius:50%;
  cursor: pointer;
  z-index: 999;
  /*先隱藏*/
//   display:none;
}
.top{
 width:50px;
height:50px;
}
@media #{$mobile_device} {
   .gototop{
 width:50px;
  height:50px;
  position:fixed;
  bottom:20px;
  right:10px;
  z-index: 999;
  /*先隱藏*/
//   display:none;
.top{
 width:40px;
height:40px;
} 
}
}

    .main-header-area{
        .logo2{
        width: 180px;
        height: 70px;
        object-fit: contain;
        @media #{$mobile_device,$tablet_device}{
            padding: 5px;
         }
        }
            #menu{
                // width: 100%;
                // text-align: right;
                text-align: center;
                li{
                    // text-align: right;
                    display: inline-block;
                    // position: relative;
                    margin: 0 0 0 50px;
                    a{
                        color: #494949;
                        font-size: 16px;
                        font-weight: 400;
                        display: inline-block;
                        padding: 0px 0px 0px 0px;
                        font-family: $font1;
                        
                        @media #{$mobile_device,$tablet_device} {
                            // padding: 41px 0px 10px 0px;
                            font-size: 15px;
                            line-height: 40px;
                            // display: inline-block;
                        }
                        @media #{$mid_device} {
                            // padding: 41px 0px 10px 0px;
                            font-size: 15px;
                            // display: inline-block;
                        }
                        @media #{$large_device} {
                            // padding: 41px 0px 10px 0px;
                            font-size: 15px;
                        }

                        &:hover{
                            color:  $text_title;
                        }
                    }
                }
        }
        
        &.sticky {
            box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
            position: fixed;
            width: 100%;
            top: -70px;
            left: 0;
            right: 0;
            z-index: 990;
            transform: translateY(70px);
            transition: transform 500ms ease, background 500ms ease;
            -webkit-transition: transform 500ms ease, background 500ms ease;
            box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
            // padding: 10px 150px;
            background: rgba(255, 255, 255,.96);
            background: #fff;
            // padding-bottom: 0;
            @media #{$mobile_device} {
                padding: 10px 0px;
            }
            @media #{$tablet_device} {
                padding: 10px 0px;
            }
            @media #{$mid_device} {
                // padding: 10px 20px;
            }
            @media #{$large_device} {
                // padding: 10px 20px
            }
            .main-menu{
                padding: 0;
                
            }
            .header_bottom_border{
                border-bottom: none;
            }
            .header_bottom_border.white_border {
                border-bottom: none !important;
            }
        }
        
    }