.team{
    padding: 90px 0px 90px 0px;
    @media #{$mobile-device,$tablet_device} {
        padding: 30px 0 50px 0;
    }
   
     .line{
            width: 180px;
            height: 2px;
            background-color: $line_color;
            margin: 0 auto;
            @media #{$mobile_device,$tablet_device}{
                margin-top: 10px;
                width: 30%;
            }
        }
    .team_info{
        //title
        h3{
            margin: 0 auto;
            font-size: $textTitle_h3_size;
            line-height: 70px;
            font-weight: 300 ;
            color: $text_title;
            @media #{$mobile_device}{
                font-size: $mobile-h3-fontsize;
                line-height: 40px;
                text-align: center;
            }
            @media #{$tablet_device}{
                font-size: 38px;
                line-height: 50px;
            }
            @media #{$mid_device}{
                font-size: 30px;
                line-height: 40px;
            }
        }
        @media #{$mobile-device} {
            padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 10px;
            padding-right: 10px;
        }
        @media #{$tablet_device}{
            padding-left: 30px;
            padding-top: 100px;
            padding-bottom: 50px;
        }
        @media #{$mid_device}{
            padding-left: 30px;
            padding-top: 0;
            padding-bottom: 40px;
        }
        @media #{$large_device}{
            padding-left: 30px;
            padding-top: 0;
        }
        color: #88888810;
    }
    #team_members{
        margin-top: 80px;
        width: 100%;
        align-items: center;
        .teamMember,.teamMember4{
            position: relative;
            width: 500px;
            height: 250px;
            background-color: rgb(235, 235, 235);
            background-size: cover;
            margin: 10px;
            display: flex;
            img{
                display: block;
                width: auto;
                height: auto;
                object-fit: cover;
            }
            .info{
            /*   display: none; */
              opacity: 1;
              box-sizing: border-box;
              background-color: rgba(245, 245, 245, 0.5);
              width: 100%;
              height: 100%;
              padding-top: 40px;
              z-index: 2;
              transition-property:all;
              transition-delay: 0.2s;
              transition-duration: 0.9s;
              @media #{$mobile_device,$tablet_device}{
                opacity: 1;
                background-color: rgba(0,0,0,0);
            }
              .name {
                  color:rgb(78, 78, 78);
                  font-size:20px;
                  letter-spacing:.1em;
                  display:block;
                  position: absolute;
                  top:40%;
                  left:55%;
                .title {
                  display:block;
                  text-transform:none;
                  letter-spacing:0.2;
                  font-weight: 300;
                  font-style:italic;
                  font-size:16px;
                  color:#b5c3db;
                 }
              }
              &:hover {
                  transition: all 0.5s ease-in-out;
                  opacity: 1;
                .name {
                  opacity:0;
                  scale:1;
                 }
                .title {
                   opacity:1;
                  }
               
               }
            }
        }
        .teamMember_show{
            color: $white_color;
            
                .member_ex,.member_ex4{
                display: none;
                background-color: #13326b;
                width: 100%;
                height: 100%;
                overflow-y: hidden;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                padding: 20px;
                font-size: 16px;
                font-weight: 300;
                line-height: 30px;
                    .name{
                        font-size: 18px;
                        line-height: 30px;
                        font-weight: 500;
                        color: $line_color;
                        display: block;
                    }
                    .title {
                        font-weight: 400;
                        font-style:italic;
                        font-size:16px;
                        line-height: 30px;
                        color: rgb(164, 162, 199);
                        display: block;
                    }
                    p{
                        margin-top: 10px;
                        line-height: 25px;
                        letter-spacing: 1px;
                    }
                }
                
            }
    }
}

//Mobile
.team_mobile{
    padding: 30px 0px 90px 0px;
    height: auto;
     .line{
            width: 180px;
            height: 2px;
            background-color: $line_color;
            margin: 0 auto;
            @media #{$mobile_device,$tablet_device}{
                margin-top: 10px;
                width: 30%;
            }
        }
    .team_info{
        //title
        h3{
            margin: 0 auto;
            font-size: $textTitle_h3_size;
            line-height: 70px;
            font-weight: 300 ;
            color: $text_title;
            @media #{$mobile_device}{
                font-size: $mobile-h3-fontsize;
                line-height: 40px;
                text-align: center;
            }
            @media #{$tablet_device}{
                font-size: 38px;
                line-height: 50px;
            }
            @media #{$mid_device}{
                font-size: 30px;
                line-height: 40px;
            }
        }
        @media #{$mobile-device} {
            padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 10px;
            padding-right: 10px;
        }
        @media #{$tablet_device}{
            padding-left: 30px;
            padding-top: 30px;
            padding-bottom: 50px;
        }
        @media #{$mid_device}{
            padding-left: 30px;
            padding-top: 0;
            padding-bottom: 40px;
        }
    }
    #team_members{
        margin-top: 80px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        // align-items:stretch;
        .teamMember,.teamMember2,.teamMember3,.teamMember4{
            width: 100%;
            // height: 100%;
            position: relative;
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .info{
            /*   display: none; */
            cursor: pointer;
              opacity: 1;
              position: absolute;
              box-sizing: border-box;
              background-color: rgba(0,0,0,0);
              top: 0;
              left: 5%;
              width: 100%;
              height: 100%;
              padding-top: 40px;
              z-index: 2;
              .name {
                  color:white;
                  font-size:18px;
                  letter-spacing:.1em;
                  display:block;
                  position: absolute;
                  top:80%;
                  left:10px;
                  color: $white_color;
                .title {
                  display:block;
                  text-transform:none;
                  letter-spacing:0.2;
                  font-weight: 300;
                  font-style:italic;
                  font-size:16px;
                  color:$white_color;
                 }
              }
            }
        }
        .teamMember_show{
            height:auto;
            width: 93%;
            margin: 0px;
            background-color: rgb(76, 73, 121);
            color: $white_color;
            .member_ex,.member_ex2,.member_ex3,.member_ex4{
                display: block;
                font-size: 16px;
                margin-top: 20px;
                .name{
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 400;
                    color: $line_color;
                    display: block;
                }
                .title {
                    font-weight: 400;
                    font-style:italic;
                    font-size:16px;
                    line-height: 30px;
                    color: rgb(164, 162, 199);
                    display: block;
                }
                p{
                    line-height: 30px;
                    margin-top: 20px;
                }
            }
            
        }
    }
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


.service-details {
	/*width: 460px;*/
	height: 250px;	
	/*height: 230px;*/
	overflow: hidden;
	position: relative;
}

.service-details img {
	position: absolute;
	top: 0;
	left: 0;
	height: inherit;
	width: auto;
	height: 100%;
	float: left;
	transition: all 0.8s;
	-moz-transition: all 0.8s;

}

.service-details:hover img {
	/*opacity: 0.4 !important;*/
}

.service-details .service-hover-text h3 {
	padding: 0px;
	margin: 0px;
	font-size: 25px;
  font-weight:300;
	font-family: "Open Sans";
}

.service-details .service-hover-text h4 {
	padding: 0px;
	padding-bottom: 13px;
	margin: 0px;
	font-size: 14px;
  letter-spacing: 3px;
	width: 90%;
	font-family: "Open Sans";
  text-transform:uppercase;
	border-bottom: 2px solid #000;
}

.service-details .service-hover-text p {
	padding-top: 13px;
	font-size: 14px;
	line-height: 20px;
	font-family: "Open Sans";
}


.service-details .service-hover-text{
	width: 42%;
	height: 89%;
	position: absolute;
	top: 0%;
	left: 50%;
	padding: 3% 4%;
	background: #D90E0E;
	color: rgba(255,255,255,1);
/*	display: none;*/
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.4s;
}

.service-details:hover .service-hover-text {
	display: block !important;
	color: rgba(255,255,255,1);
	background:rgba(217,14,14,0.85);
	left: 0px;
	top: 0px;
}


.service-details .service-text {
	width: 50%;
	height: inherit;
	background: #000;
	float: left;
	position: absolute;
	left: 50%;
}

.service-details .service-text p {
	padding:100px 0px 0px 20px;
	font-size: 24px;
	font-family: "Open Sans";
  font-weight:700;
	color: #fff;
}

.service-details .service-text p span {
	font-family: "Open Sans" !important;
}

.service-details .service-text a , .service-white .service-text {
	padding: 0px 0px 0px 20px;
	font-size: 14px !important;
	color:#FF5A22 !important;
	font-family: "Open Sans" !important;
	text-decoration: none !important; 
}

.service-details .service-text {
	float: left;
} 

.service-white {
	background: #eee !important;
	width: 50% !important;
	height: inherit !important;
}

.service-white p {
	color: #000 !important;
}